/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.col-md-6:nth-child(1) {
  background: #03A9F4;
  padding: 30px;
  height: 100vh;
}
