<div class="row">
  <div class="col-md-6">
    <app-register>
      <h1>Register</h1>
      <button class="btn-primary btn-block mt-2">Register</button>
      <div>
        <span>Already registered Please </span>
        <span><a routerLink="/login">Login</a></span>
      </div>
    </app-register>
  </div>
  <div class="col-md-6">
    <app-register>
      <h1>Login</h1>
      <button class="btn-success btn-block mt-2">Login</button>
      <div>
        <span>Dont have an Account Please</span>
        <span><a routerLink="/register">Register</a></span>
      </div>
    </app-register>
  </div>
</div>
